*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bord{
    margin: 150px auto;
    width:304px;
    height:304px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(236, 115, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.player-1,.player-2{
  font-size: 35px;
}
button{
    border: 1px solid red;
}